{{ define "tweet-overlay" }}
<div class="tweet-overlay">
  <h2>New Tweet</h2>
  <form id="new-tweet-form">
    <textarea id="new-tweet-text"></textarea><br>
    <a href="/" class="button" id="cancel-button">Cancel</a>
    <input type="submit">
  </form>
</div>
{{ end }}
